body {
    /*background-color: #b7d1c4;*/
    /*height: 50%*/
}

#softwares{
    width: 350px;
    float: left;
    margin-left: 400px;
    background: rgba(240, 248, 255, 0.8);
}

#emails{
    width: 350px;
    float: left;
    background: rgba(240, 248, 255, 0.8);
}

#errorhistory{
    width: 350px;
    float: left;
    background-color: aliceblue;
    opacity: 0.8;
}

#errorhistorylist{
    float: left;
    background-color: aliceblue;
    opacity: 0.8;
    margin-right: 3%;
    margin-bottom: 4%;
    width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    /*background-color: aliceblue;*/
    margin-left: 10px;
    padding-left: 20px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    /*vertical-align: middle;*/
}

#addsoftwarebutton {
    margin-left: 120px;
}

#addemailbutton {
    margin-left: 105px;
    background: rgba(255, 255, 255, 0.9);
}

#softwareheader {
    margin-left: 40px;
}

#emailsheader {
    margin-left: 100px;
}

#errorheader {
    margin-left: 50px;
}

ul {
    border: 1px solid black;
    margin-left: 10px;
    padding-left: 10px;
    /*height: 10%;*/
    overflow: auto;
    max-height: 500px;
    list-style-type: none;
    height: 500px;
}

ol {
    border: 1px solid black;
    margin-left: 10px;
    padding-left: 10px;
    /*height: 10%;*/
    overflow: auto;
    max-height: 500px;
    /*list-style: none;*/
    height: 500px;
    margin-top: 43px;
    /*list-style-position: inside;*/
}

.errorhistoryelement {
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    word-wrap: break-word;
}

.emaillistelement {
    vertical-align: middle;
    margin-top: 5px;
    padding-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
}

.softwarelistelement {
    vertical-align: middle;
    margin-left: 50px;
}

.applicationButton {
    width: 200px;
    background: rgba(255, 255, 255, 0.9);
}


.removeEmailButton {
    width: 70px;
    height: 25px;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    background: rgba(255, 255, 255, 0.9);
}

.selectedbutton {
    background-color: chartreuse;
}

button {
    margin-left: 10px;
    height: 25px;
    width: 120px;
    background: rgba(255, 255, 255, 0.9);
}

