body {
    /*background-color: #b7d1c4;*/
    height: 50%
}

#softwares{
    width: 20%;
    float: left;
    margin-left: 20%;
    background-color: aliceblue;
    opacity: 0.8;
}

#emails{
    width: 20%;
    float: left;
    background-color: aliceblue;
    opacity: 0.8;
}

#errorhistory{
    width: 20%;
    float: left;
    background-color: aliceblue;
    opacity: 0.8;
}

#errorhistorylist{
    width: 20%
    float: left;
    background-color: aliceblue;
    opacity: 0.8;
}

h1 {
    background-color: aliceblue;
    margin-left: 10px;
    padding-left: 20px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    margin-left: 10px;
    height: 25px;
    width: 100px;
}

#errorhistorybutton {
    margin-left: 60px;
}

ul {
    border: 1px solid black;
    margin-left: 10px;
    padding-left: 10px;
    /*height: 10%;*/
    overflow: auto;
    max-height: 500px;
    list-style-type: none;
    height: 500px;
}

ol {
    border: 1px solid black;
    margin-left: 10px;
    padding-left: 10px;
    /*height: 10%;*/
    overflow: auto;
    max-height: 500px;
    list-style: none;
    height: 500px;
    margin-top: 63px;
}

.removeEmailButton {
    float: right;
    margin-right: 10px;
}

#errorhistorylist {
    margin-right: 3%;
    margin-bottom: 4%;
}

